@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Disolve_regular";
  src: url("../../public/fonts/Disolve_regular.ttf") format("truetype");
}
@font-face {
  font-family: "Gudea-Regular";
  src: url("../../public/fonts/Gudea-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "REZ";
  src: url("../../public/fonts/REZ.ttf") format("truetype");
}

.bg-gradient-gleam {
  background: linear-gradient(
    180deg,
    #080808 7.5%,
    #0d0812 22.5%,
    #13081e 37%,
    #1f0736 53%,
    #34075f 69%,
    #42067a 85%,
    #470683 99.97%,
    #4f0694 99.98%
  );
}

.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #fff, 0 0 10px #fff,
    0 0 0px #fff, 0 0 0px #fff;
}
.neonPurple {
  box-shadow: 0 0 5px #4f0694, 0 0 10px #4f0694, 0 0 5px #4f0694,
    0 0 10px #4f0694, 0 0 0px #4f0694, 0 0 0px #4f0694;
}
.neonWhite {
  box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff,
    0 0 0px #fff, 0 0 0px #fff;
}

.imgNeon {
  filter: drop-shadow(0px 0px 2px #ffffff);
}

.RDV {
  transition: all 0.3s ease;
}
.RDV:hover {
  background-color: transparent;
  /* border: #fff solid 1px; */
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 5px #fff,
    0 0 0px #fff, 0 0 0px #fff;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

* {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .hide-lg {
    display: none;
  }
}

.w-trait {
  width: 920px;
}

.tech {
  box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.w-gleam {
  animation: changeColor 6s infinite;
}

.w-img {
  width: 455px;
}

.nav-active {
  border-bottom: 2px solid #4f0694;
}

.nostech {
  background-image: url("/fond_purple2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Le reste de votre style existant */

@keyframes changeColor {
  0% {
    color: white;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 5px #fff,
      0 0 0px #fff, 0 0 0px #fff;
  }

  25% {
    color: white;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff,
      0 0 0px #fff, 0 0 0px #fff;
  }

  50% {
    color: #4f069471;
  }

  100% {
    color: white;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 5px #fff,
      0 0 0px #fff, 0 0 0px #fff;
  }
}

/* SECTION 1 - HOME */
@media (max-width: 640px) {
  .sm-hidden {
    display: none;
  }

  .nav-ul {
    display: none;
  }

  .nav-button {
    height: 90px;
  }

  .title-section1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* .title-main {
    font-size: 25px;
  } */

  .title-section2 {
    justify-content: center;
  }

  /* .bloc-section2 {
    text-align: center;
  } */

  .content-section2 {
    margin-bottom: 35px;
  }

  .sm-text-purple {
    color: #4f0694;
  }

  .type-site {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .md-hidden {
    display: none;
  }

  .nav-ul {
    display: none;
  }
}

@media (max-width: 1024px) {
  .lg-hidden {
    display: none;
  }

  .nav-ul {
    display: none;
  }
}

/* SECTION 2 - HOME */

/* SECTION 3 - HOME */

@media (max-width: 640px) {
  .sm-content-s3 {
    padding: 15px;
  }
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
} */

.fade-in-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.fade-in-out.active {
  opacity: 1;
  visibility: visible;
}

/* Reveal Effect */

.reveal-element {
  opacity: 0;
  transform: translateY(20px);
  /* Décalez l'élément vers le bas */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.reveal-element.is-visible {
  opacity: 1;
  transform: translateY(0);
  /* Animer l'élément vers sa position normale */
}
