.header {
  position: sticky;
  top: 0;
  z-index: 50;
  transition: all 0.3s ease;
  padding: 1rem 0rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  background-color: transparent;
  /* background-color: #080808; */
}
.scrolled {
  transition: all 0.3s ease;
  background-color: #080808;
  backdrop-filter: blur(10px);
}
.nav {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerLogo {
  width: auto;
  height: 3rem;
  margin: 0 2rem;
  transition: all 0.3s ease;
  filter: drop-shadow(0px 0px 2px #ffffff);
}
/* .headerLogo:hover {
  filter: drop-shadow(0px 0px 2px #ffffff);
} */
.nav__menuList {
  display: flex;
  align-items: center;
  padding: 1rem 0 0.5rem;
  gap: 5rem;
  font-size: 1.2rem;
  line-height: 1.75rem;
  font-family: "Gudea-Regular";
  text-transform: uppercase;
}
.nav__item {
  color: #fff;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}
.nav__item:hover {
  border-bottom: 1px solid #5c0adf;
}
.nav__item.activeLink {
  border-bottom: 1px solid #5c0adf;
}

@media screen and (max-width: 800px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 50;
    transition: all 0.3s ease;
    padding: 1rem 2rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease;
  }
  .scrolled {
    transition: all 0.3s ease;
  }
  .nav {
    width: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav__menuBar {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
  }
  .line {
    width: 40px;
    height: 0.2rem;
    background-color: #fff;
    border-radius: 10rem;
    z-index: 10;
    transition: all 0.3s ease;
  }
  .l1 {
    transform: translateY(0);
  }

  .l2 {
    opacity: 1;
  }

  .l3 {
    transform: translateY(0);
  }

  .activeBurger .l1 {
    transform: translateY(10px) rotate(45deg);
  }

  .activeBurger .l2 {
    opacity: 0;
  }

  .activeBurger .l3 {
    transform: translateY(-10px) rotate(-45deg);
  }
  .headerLogo {
    width: auto;
    height: 2.5rem;
    margin: 1rem 0rem 0;
    z-index: 11;
    transition: all 0.3s ease;
  }
  .nav__menuList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: -100vh;
    width: 100%;
    /* left: -100vh; */
    padding: 1.5rem 1rem;
    /* min-height: calc(100vh - 12vh); */
    height: 100vh;
    background-color: #080808f3;
    transition: all 0.5s ease;
    opacity: 0;
    z-index: -1;
  }
  .nav__menuList.active {
    transition: all 0.5s ease;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    z-index: 9;
  }
  .nav__item {
    position: relative;
    font-size: 1.5rem;
    text-align: center;
  }
}
